/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

.form {
  padding-top: 36px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.form-input {
  width: 100%;
  max-width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.form-input:hover {
  border-color: #000000;
}

.form-input:focus {
  border-color: #4e75ff;
}

.form-btn {
  width: 100%;
  max-width: 91px;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
